.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #15499b;
}
.img-icon {
    width: 100px;
    height: 100px;
}
.nav {
    display: flex;
    gap: 50px;
}
.span-link {
    font-size: 18;
    color: white;
}